/* CSS Document-jobs.css */
/* Stylesheet for Job Pages of Cornell Cinema */

body {font: 1em arial, helvetica, sans-serif; color:#013E22;}
* {margin:0; padding:0;}
img {border:none;}
a {text-decoration:none; color:#FFFFFF;}
/*a:hover {color:#FFFFFF; background-color:#A80404} */
h3, h4 {padding: 1em 0em .25em 0em;}


div#mainwrapper {width:776px; margin-left:auto; margin-right:auto;background-color: #FBF8B0;} 
div#header {width:776px; height:60px;background-color:#821001;}
div#header img {float:left; margin:0 9px 0 0; border:none;}

div#bannerpic {float:right; margin-top:-18px;background-color:#002B17;width:600px;}
#bannerpic img {float:right;}
#bannerpic h1 {width:500px; float:right; text-align:right; margin:-6px 5px 5px 5px; font-size: 1.6em; font-variant: small-caps; letter-spacing:.05em; color:#FFFFFF;}
#bannerpic h2 {float:right;text-align:right; width:590px; margin:2px 5px; font-size: 1.2em; font-style: italic; letter-spacing:.1em; color:#FFFFFF;position:relative;}
ul{list-style-type: none; padding: .25em .5em;}
li{margin-bottom:.25em;}
.filmfacts {color:#FFFFFF;width:590px; margin:2px 8px; 
font-weight:bold; font-size: 1.05em;text-align:right;line-height: 1.3em;letter-spacing:.05em;float:right;}
.specialinfo {color:#821001; font-style: italic; font-weight:bold; font-size:1.1em;}
.caption {font-size:.75em;}
.clearthis {clear:both;}



div#content {margin:0 0 24px 176px; padding:.5em 1em;border: solid 2px; clear:right}
#content p {line-height: 1.1em; margin-bottom:.2em; margin-top:.4em;}	
div#content a {text-decoration:none; color:#12005E; font-weight:bold;}
div#content a:hover {color:#FFFFFF; background-color:#A80404}

/*footer styles*/
div#footer {		margin: 0 0 0 500px;
 					padding:4px 0; /* pushes the links away from top and bottom of the div */
					font-size:.8em;  /* sets the font size of all links */
					text-align:right; /* centers the ul elements in the div */
					background-color:#821001; /* sets the background color of the div */
					border-top:1px solid #960; border-bottom:2px solid #960;}
 div#footer ul {margin:2px 0;} /* vertical spacing between the lists */
 div#footer li {display:inline; /* the key CSS - makes the lists display horizontally */
						color:white; /* sets the color of the vertical lines */
						border-left:1px solid; /* creates the vertical line to the left of each list items */
						color:#C60; /* sets the color of the vertical lines  - links colored below */
						padding:0 5px 0 9px; /* horiz space between links and vert lines - needed diff l & r values to center */
						}
 div#footer li:first-child {border-left:0;} /* removes the left border of the first list item - IDWIMIE */
 div#footer ul li a {text-decoration:none; /* removes the underlining off the links */
 						 color:#FFFFFF; /* the color of the links */
							 }
 div#footer ul li a:hover {text-decoration:underline; color:#FFF200} /* underlines the links when hovered */
