:::title::: (:::year:::):::dates:::<optional>director: :::director:::; <optional>cast: :::cast::::::blurb::: <optional>:::hrs::: :::hr_plural::: :::mins::: :::min_plural:::>:::country:::>:::format::::::blankline:::