:::premier::::::title::::::showtimes::::::year::: > :::country::: > Directed by :::director:::With :::cast::::::description::::::subtitled::::::website::::::format::::::hrs::: :::hr::: :::mins::: :::min::::::blankline:::